*{
    font-family: 'Orbitron', sans-serif;
}

body{
background-color:#81657e;
margin: 0;
}

.myHeader {
    background-color: #9fd9b3;
    color: #fff;
    padding: 20px;
}

.myHeader h1 {
    font-size: 24px;
    margin: 0;
}

img{
    width: 85px;
}

/* cartas */
.container{
    border-style: dotted;
    border-color: blue;
}

.cardPepinillo{
    border-style: double;
    border-color: green;
    margin:auto;
}