*{
    font-family: 'Orbitron', sans-serif;
}

body{
background-color:#81657e;
margin: 0;
}

.myHeader {
    background-color: #9fd9b3;
    color: #fff;
    padding: 20px;
}

img{
    width: 85px;
}

/* cartas */
.container{
    /*justify-content: center; /*centra de izquierda a derecha*/
   /*align-content: center; /*centra de rriba a abajo*/
    place-content: center;
    border-style: dotted;
    border-color: blue;
    display: grid;
    grid-template-columns: 100px 100px 100px; /*por los tamaños se asume las columnas*/
    /*row-gap: 50px; /espacio entre filas*/
    /*column-gap: 30px; /espacio entre las columnas*/
    gap: 30px; /*espacio entre columnas y filas*/
}

.cardPepinillo{
    border-style: double;
    border-color: green;
    margin:auto;
}